*{
    margin: 0;
    padding: 0;
    
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body{
     font-family: "Roboto", sans-serif;
     background-color: #EEE;
}
/* needed-css */
.all-container{
    max-width: 1440px;
    margin: 0 auto;
}
.text-c-1{
    color: #131313;
    font-family: "Work Sans";
}
.text-c-2{
    color: #424242;
    font-family: "Work Sans";
}
.text-c-3{
    color: #727272;
    font-family: "Work Sans";
    font-size: 1rem;
    line-height: 1.6rem;
    font-weight: 400;
}
.text-c-4{
    color: #A1A1A1;
    font-family: "Work Sans";
}
.text-c-5{
    color: #D0D0D0;
    font-family: "Work Sans";
}
.text-c-6{
    color: #E7E7E7;
    font-family: "Work Sans";
}
.text-c-7{
    color: #F3F3F3;
    font-family: "Work Sans";
}
.text-white{
    color: white;
    font-family: "Work Sans";
}
header{
    background-color: rgba(255, 144, 14, 0.1);
}
img{
    width: 100%;
}

.btn{
    padding: 20px 24px;
    background-color: #FF900E;
    border: none;
    border-radius: 8px;
    margin: 22px 0;
    
}
.btn a{
    font-size: 16px ;
    text-decoration: none;
}
/* needed-css-end */
/* navbar-menu */
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
    align-items: center;
}
.logo-t{
    font-size: 2.8em;
    font-weight: 700;
}
.menu-s{
    display: flex;
    gap: 20px;
    list-style: none;
}
.menu-s li a{
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
}
/* banner-section */
.banner-title{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-top: 100px;
    
}
.b-title{
    font-size: 4em;
    font-weight: 900;
    margin: 0 100px;
}
.b-title-block{
    display: block;
}
.banner-discreption{
    margin:10px 0;
}
.banner-image{
   margin: 30px 0;
}